@page 
@model IndexModel 
@{
   ViewData["Title"] = "Home page Index"; 
}

<div class="row mb-auto">
  <div class="col-md-4">
    <div class="row no-gutters border mb-4">
      <div class="col p-4 mb-4">
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          asperiores commodi in sapiente, tenetur alias nostrum assumenda
          recusandae earum ipsa doloribus repudiandae fugit sit similique vel
          impedit vero, ipsum ex.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row no-gutters border mb-4">
      <div class="col p-4 d-flex flex-column position-static">
        <p class="card-text mb-auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugit
          nisi unde ullam aliquam quasi nostrum eligendi et excepturi ab.
          Consequuntur consequatur quaerat voluptates modi animi architecto eum
          saepe iusto.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row no-gutters border mb-4">
      <div class="col p-4 d-flex flex-column">
        <p class="card-text mb-auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugit
          nisi unde ullam aliquam quasi nostrum eligendi et excepturi ab.
          Consequuntur consequatur quaerat voluptates modi animi architecto eum
          saepe iusto.
        </p>
      </div>
    </div>
  </div>
  
<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>
    Learn about
    <a href="https://learn.microsoft.com/aspnet/core"
      >building Web apps with ASP.NET Core</a
    >.
  </p>
</div>
</div>

